/* Circular */
@font-face {
    font-family: 'Circular';
    src: url("../assets/fonts/Circular/CircularStd-Light.otf");
    font-weight: 300;
}

@font-face {
    font-family: 'Circular';
    src: url("../assets/fonts/Circular/CircularStd-Medium.otf");
    font-weight: 500;
}

@font-face {
    font-family: 'Circular';
    src: url("../assets/fonts/Circular/CircularStd-Bold.otf");
    font-weight: 700;
}

@font-face {
    font-family: 'Circular';
    src: url("../assets/fonts/Circular/CircularStd-Black.otf");
    font-weight: 900;
}
