*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family: 'Circular';
}

:root{
	--black: #000;
	--black-secondary: #222326;
    --white: #fff;
    --white-secondary: #F6F6F6;
    --green: #1ED760;
    --green-dark: #117A37;
    --gray: #d9dadc;
    --gray-dark: #919496;
}   